@font-face {
    font-family: 'Hero';
    src: url(./fonts/Hero-Bold.otf) format('truetype'),
         url(./fonts/Hero-Light.otf) format('truetype'),
         url(./fonts/Hero-Regular.otf) format('truetype');
}

body {
    font-family: 'Hero', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.main-title { 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

